<html>
  <head>
    <title>Modify</title>
  </head>
  <body>
    <form action="./user_modify" method="POST">
      <label>user_id</label>
      <input type="text" name="user_id" required />
      <label>email</label>
      <input type="email" name="email" required />
      <label>userName</label>
      <input type="text" name="userName" required />
      <label>password</label>
      <input type="password" name="password" required />
      <label>check password</label>
      <input type="password" name="password1" required />
      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
